{% extends 'base.html' %}

{% block content %}
    <div style="background: #aae; padding:50px">
        User details:<br/>
        {% for wallet in user.wallet_set.all %}
            {{ wallet.get_wallet_type_display }}: {{ wallet.amount }}<br/>
        {% endfor %}
        <a href="{% url 'logout' %}">logout</a>
    </div>

    <div style="background: #eae; padding:50px">
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="spin 2EU/2BNS for game"/>
        </form>
    </div>
    <div style="background: #aee; padding:50px">
        <form method="post">
            {% csrf_token %}
            {{ form_deposit }}
            <input type="submit" value="make deposit"/>
        </form>
    </div>
{% endblock %}