{% extends 'base.html' %}

{% block content %}
    <form method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    <tr>
        <td></td>
        <td><input type="submit" value="Login"/></td>
    </tr>
    </table>
    </form>
    <a href="{% url 'signup' %}">Signup</a>
{% endblock %}