{% extends 'base.html' %}

{% block content %}
    <form method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    <tr>
        <td></td>
        <td><input type="submit" value="Register"/></td>
    </tr>
    </table>
    </form>
{% endblock %}